@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.desktop-only {
  display: none;
}

.hamburger-btn {
  display: block;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
  }

  .hamburger-btn {
    display: none;
  }
}